body {
  margin: 1em auto;
  max-width: 650px; 
  /*max-width: none; */
  padding: 0 .62em;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  line-height: 1.2
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", "Roboto Slab", serif;
}
@media print{
  body{
    max-width:none
  }
}
div.gallery {
  margin: .2em;
  border: 2px solid #ccc;
  float: left;
  /* 40em / 3 - .2 * 3 */
  /* 40em / 2 - .2 * 2 */
  /*width: 19.5em;*/
  width: 310px;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px 2px 7px;
  text-align: center;
  vertical-align: middle;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: .8em;
  /*table-layout: fixed;*/
  max-width: none;
}

tr, th, td {
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

tr:nth-child(odd) {background-color: #f5f5f5;}
tr:hover {background-color: #D9EDFD;}
th {
  border-bottom: 1px solid;
  background-color: #fff;
}
pre, code{
  background: #f8f8f8;
  color: #000;
  font-family: "DejaVu Sans Mono", monospace;
}

pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}
